
.account-info {
    display: flex;
    flex-direction: row;
    width: 98%;
    padding-right:2%; 
    height: 50px;
    border: 1px solid #e4e4e4;
    padding: 3px;
    margin: 2px auto;
    align-items: center;
    justify-content: space-between;
}

.account-name {
    text-indent: 5px;
    display: flex;
    text-transform: capitalize;
}

.add{
    height: 90%;
    width: 35px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.add:hover {
    cursor: pointer
}